GPATH
GRTAGS
GTAGS
**/*dependency-reduced-pom.xml
**/*flattened-pom.xml
**/target/
report
*.ipr
*.iws
**/*.iml
**/*.lock.db
**/.checkstyle
**/.classpath
**/.idea/
**/.project
**/.settings
**/bin/
**/derby.log
*.tokens
.clover
^build
out
*~
test-output
travis-settings*.xml
.build-oracle
.factorypath
