dependency-reduced-pom.xml
GPATH
GRTAGS
GTAGS
src/test/java/org/skife/jdbi/v2/docs/TestArrayBinding.java
target
report
*.ipr
*.iws
*.iml
.clover
.idea
^build
out
.classpath
.project
.settings
*~
test-output
travis-settings.xml
travis-settings-security.xml
.build-oracle
.factorypath
docs/src/main/resources/jdbi2/apidocs
*.tokens
