dependency-reduced-pom.xml
GPATH
GRTAGS
GTAGS
src/test/java/org/skife/jdbi/v2/docs/TestArrayBinding.java
target
report
*.ipr
*.iws
*.iml
.clover
.idea
^build
out
.classpath
.project
.settings
*~
test-output
dependency-reduced-pom.xml

.factorypath
