language: java

sudo: false
dist: trusty

# No much sense in keeping jdbi artifacts cached
before_cache:
  rm -rf $HOME/.m2/repository/org/jdbi

cache:
  directories:
    - '$HOME/.m2/repository'

install:
  - src/build/ci-pre-install.sh

matrix:
  include:
    - env:
        - TESTS=Y
      script:
        - src/build/ci-test.sh
      jdk: oraclejdk8
    - env:
        - TESTS=Y
# make sure we don't accidentally introduce locale-sensitive tests
        - LC_ALL=fr_FR.UTF-8
      script:
        - src/build/ci-test.sh
      jdk: openjdk13
    - env:
        - TESTS=Y
      script:
        - src/build/ci-test.sh
      jdk: openjdk11
    - env:
        - DOCUMENTATION=Y
      script:
        - src/build/ci-doc.sh
      jdk: oraclejdk8
    - env:
        - CODE_STYLE=Y
      script:
        - src/build/ci-code-style.sh
      jdk: oraclejdk8
