language: java

sudo: false
dist: xenial

# No much sense in keeping jdbi artifacts cached
before_cache:
  rm -rf $HOME/.m2/repository/org/jdbi

cache:
  directories:
    - '$HOME/.m2/repository'

install: skip

jobs:
  include:
    - env:
        - TESTS=Y
# make sure we don't accidentally introduce locale-sensitive tests
        - LC_ALL=fr_FR.UTF-8
      script:
        - java -version
        - echo $JAVA_HOME
        - src/build/ci-test.sh 8
      jdk: openjdk8
    - env:
        - TESTS=Y
        - LC_ALL=fr_FR.UTF-8
      script:
        - java -version
        - echo $JAVA_HOME
        - src/build/ci-test.sh 11
      jdk: openjdk11
    - env:
        - TESTS=Y
        - LC_ALL=fr_FR.UTF-8
      script:
        - java -version
        - echo $JAVA_HOME
        - src/build/ci-test.sh 14
      jdk: openjdk14
    - env:
        - TESTS=Y
        - LC_ALL=fr_FR.UTF-8
      script:
        - java -version
        - echo $JAVA_HOME
        - src/build/ci-test.sh 15
      jdk: openjdk15
    - env:
        - DOCUMENTATION=Y
      script:
        - src/build/ci-doc.sh
      jdk: openjdk11
    - env:
        - CODE_STYLE=Y
      script:
        - src/build/ci-code-style.sh
      jdk: openjdk11
