<?xml version="1.0"?>
<!--
~   Licensed under the Apache License, Version 2.0 (the "License");
~   you may not use this file except in compliance with the License.
~   You may obtain a copy of the License at
~
~   http://www.apache.org/licenses/LICENSE-2.0
~
~   Unless required by applicable law or agreed to in writing, software
~   distributed under the License is distributed on an "AS IS" BASIS,
~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~   See the License for the specific language governing permissions and
~   limitations under the License.
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="fileExtensions" value="java,properties,xml"/>

    <module name="SuppressWarningsFilter" />

    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>

    <module name="RegexpMultiline">
        <property name="format" value="(?s:(\r\n|\r).*)"/>
        <property name="message" value="Line has CRLF or CR line ending."/>
    </module>
    <module name="RegexpMultiline">
        <property name="format" value="\n{3,}"/>
        <property name="message" value="Don't leave more than 1 open line."/>
    </module>
    <module name="RegexpMultiline">
        <property name="format" value="\{\s+\}"/>
        <property name="message" value="Tighten empty braces."/>
    </module>

    <module name="TreeWalker">
        <module name="ArrayTypeStyle"/>
        <module name="AvoidStarImport"/>
        <module name="ConstantName"/>
        <!--<module name="DeclarationOrder"/>-->
        <module name="EmptyCatchBlock">
            <!-- this value is a message to readers that also serves to "disable" the check, we don't expect this literal text in a comment inside the catch... -->
            <property name="commentFormat" value="please always name the exception correctly and write a comment if necessary"/>
            <property name="exceptionVariableName" value="expected|ignored?"/>
        </module>
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="GenericWhitespace"/>
        <module name="HiddenField">
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
            <property name="setterCanReturnItsClass" value="true"/>
            <property name="ignoreAbstractMethods" value="true"/>
        </module>
        <module name="HideUtilityClassConstructor"/>
        <module name="IllegalImport"/>
        <module name="IllegalInstantiation"/>
        <module name="ImportOrder">
            <property name="groups" value="java,javax"/>
            <property name="ordered" value="true"/>
            <property name="option" value="bottom"/>
            <property name="separated" value="true"/>
            <property name="separatedStaticGroups" value="true"/>
            <property name="staticGroups" value="java,javax"/>
            <property name="sortStaticImportsAlphabetically" value="true"/>
        </module>
        <!--<module name="InnerAssignment"/>-->
        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>
        <module name="LeftCurly"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodLength"/>
        <module name="MethodName"/>
        <module name="MethodParamPad"/>
        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="MissingSwitchDefault"/>
        <module name="ModifierOrder"/>
        <module name="MutableException"/>
        <module name="NeedBraces"/>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OneStatementPerLine"/>
        <module name="OneTopLevelClass"/>
        <module name="OperatorWrap"/>
        <module name="OuterTypeFilename"/>
        <module name="PackageName"/>
        <module name="ParameterAssignment"/>
        <module name="ParameterName"/>
        <module name="ParenPad"/>
        <module name="RedundantImport"/>
        <module name="RedundantModifier"/>
        <module name="RightCurly"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StaticVariableName"/>
        <module name="StringLiteralEquality"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>
        <module name="SuppressWarningsHolder" />
        <module name="TodoComment"/>
        <module name="TypecastParenPad"/>
        <module name="TypeName"/>
        <module name="UnusedImports"/>
        <module name="UpperEll"/>
        <module name="VariableDeclarationUsageDistance"/>
        <!--<module name="VisibilityModifier"/>-->
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <property name="allowEmptyCatches" value="true"/>
            <property name="allowEmptyConstructors" value="true"/>
            <property name="allowEmptyLambdas" value="true"/>
            <property name="allowEmptyMethods" value="true"/>
            <property name="allowEmptyTypes" value="true"/>
        </module>

        <module name="RegexpSinglelineJava">
            <property name="format" value="^ *\t"/>
            <property name="message" value="Line contains leading tabs (instead of spaces)."/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="@(org\.junit\.)?Test\s*\(\s*expected\s*="/>
            <property name="message" value="Use AssertJ's assertThatThrownBy instead of @Test.expected"/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="\s+$"/>
            <property name="message" value="Line has trailing whitespace."/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="^ {6}\S"/>
            <property name="message" value="Indent of 6 spaces is suspicious. We indent with multiples of 4."/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="\S {2,}\S"/>
            <property name="message" value="Multiple consecutive space characters found."/>
            <property name="ignoreComments" value="true"/>
        </module>
    </module>
</module>
