name: CD from master pushes

on:
  push:
    branches:
    - master

jobs:
  cd:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin
        cache: maven
        server-id: sonatype-nexus-snapshots
        server-username: NEXUS_REPO_USER
        server-password: NEXUS_REPO_PASSWORD

    - name: deploy code
      env:
        NEXUS_REPO_USER: ${{ secrets.NEXUS_REPO_USER }}
        NEXUS_REPO_PASSWORD: ${{ secrets.NEXUS_REPO_PASSWORD }}
        JDBI_MAVEN_OPTS: "-B -fae"
      run: |
          make deploy

  site:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin
        cache: maven
        server-id: github
        server-password: SITE_DEPLOY

    - name: publish docs
      env:
        SITE_DEPLOY: ${{ secrets.SITE_DEPLOY_TOKEN  }}
        JDBI_MAVEN_OPTS: "-B -fae"
      run: |
          make publish-docs
