---
name: CI Build with tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 11, 17, 21, 22-ea ]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - uses: actions/setup-java@v3
        id: test_jdk
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin
          cache: maven

      - name: set build_jdk
        env:
          JAVA_HOME: ${{ steps.build_jdk.outputs.path }}
        run: |
          echo "$JAVA_HOME/bin" >> ${GITHUB_PATH}

      - name: build distribution
        env:
          JAVA_HOME: ${{ steps.build_jdk.outputs.path }}
          MAVEN_CONFIG: "-Dbasepom.check.skip-enforcer=false -B -fae"
        run: |
          make install-fast

      - name: set test_jdk
        env:
          JAVA_HOME: ${{ steps.test_jdk.outputs.path }}
        run: |
          echo "$JAVA_HOME/bin" >> ${GITHUB_PATH}

      - name: run tests
        env:
          JAVA_HOME: ${{ steps.test_jdk.outputs.path }}
          MAVEN_CONFIG: "-B -fae"
        run: |
          make run-tests

  ci-locale:
    name: Run tests with different timezone and locale
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: install code
        env:
          MAVEN_CONFIG: "-B -fae"
        run: |
          make install-fast

      - name: run tests
        env:
          MAVEN_CONFIG: "-B -fae -Djdbi.test.timezone=Asia/Colombo -Djdbi.test.language=tr -Djdbi.test.region=TR"
        run: |
          make run-tests
