---
name: CI Build with tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  tarFile: "output-${{ github.job }}-${{ github.run_number }}-${{ github.run_attempt }}.tar.gz"

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 11, 17, 21 ]
        distribution: [ temurin ]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        id: build_jdk
        with:
          java-version: 17
          distribution: ${{ matrix.distribution }}
          cache: maven

      - uses: actions/setup-java@v3
        id: test_jdk
        with:
          java-version: ${{ matrix.java-version }}
          distribution: ${{ matrix.distribution }}
          cache: maven

      - name: set build_jdk
        env:
          JAVA_HOME: ${{ steps.build_jdk.outputs.path }}
        run: |
          echo "$JAVA_HOME/bin" >> ${GITHUB_PATH}

      - name: build distribution
        env:
          JAVA_HOME: ${{ steps.build_jdk.outputs.path }}
          MAVEN_CONFIG: "-Dbasepom.check.skip-enforcer=false -B -fae"
        run: |
          make install-fast

      - name: set test_jdk
        env:
          JAVA_HOME: ${{ steps.test_jdk.outputs.path }}
        run: |
          echo "$JAVA_HOME/bin" >> ${GITHUB_PATH}

      - name: run tests
        env:
          JAVA_HOME: ${{ steps.test_jdk.outputs.path }}
          MAVEN_CONFIG: "-B -fae"
        run: |
          make run-tests

      - name: Package
        if: failure()
        run: |
          FOLDER=$(basename `pwd`)
          cd ..
          tar czf ${{ runner.temp }}/${{ env.tarFile }} --exclude=.git $FOLDER
          mv ${{ runner.temp }}/${{ env.tarFile }} ${{ github.workspace }}

      - uses: keithweaver/aws-s3-github-action@v1.0.0
        name: Upload
        if: failure()
        with:
          command: cp
          source: ${{ github.workspace }}/${{ env.tarFile }}
          destination: s3://github-action-error-logs/${{ github.repository }}/${{ env.tarFile }}
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-east-1
