---
name: Documentation build

on:
  push:
    branches:
      - master
      - jdbi4-dev
  pull_request:
    branches:
      - master
      - jdbi4-dev

concurrency:
  group: ${{ github.workflow_ref }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  doc:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 25
          distribution: temurin
          cache: maven

      - name: docs
        env:
          MAVEN_ARGS: "-B -ff -Dbasepom.check.fail-javadoc=true"
        run: |
          make docs
