---
name: Test Flyway versions

on:
  push:
    branches:
      - master
      - jdbi4-dev
  pull_request:
    branches:
      - master
      - jdbi4-dev

concurrency:
  group: ${{ github.workflow_ref }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  flyway:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flyway-version: [ 11.0.0, 10.22.0 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 25
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_ARGS: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - name: run tests
        id: run_tests
        env:
          MAVEN_ARGS: "-B -ff -pl :jdbi3-testing -Ddep.flyway.version=${{ matrix.flyway-version }}"
        run: |
          ./mvnw --version
          make run-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        continue-on-error: true
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.flyway-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        continue-on-error: true
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.flyway-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar
