---
name: Test Flyway versions

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  flyway:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flyway-version: [ 7.15.0, 8.2.3, 8.5.13, 9.22.3 ] # oldest supported, first 8.x that supports H2, latest 8.x.x, latest 9.x.x

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Build
        env:
          MAVEN_CONFIG: "-B -fae"
        run: |
          make install-fast

      - name: test flyway versions
        env:
          MAVEN_CONFIG: "-B -fae -pl :jdbi3-testing -Ddep.flyway.version=${{ matrix.flyway-version }}"
        run: |
          make run-tests
