---
name: CI Build in GraalVM native-image with tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: 25
          cache: maven

      - name: build
        env:
          MAVEN_ARGS: "-B -T2 -Dbasepom.check.skip-enforcer=false -Dbasepom.check.skip-all=true -Djdbi.native=true"
        run: |
          make install
