---
name: Run all tests, including slow tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  slow-tests:
    name: Run slow tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        testcontainer-version: [ 1.19.8, 1.20.2 ]
        mysql-version: [ "mysql:latest" ]
        # 1.18.3 does not work with mysql:latest (8.3.x).
        include:
          - testcontainer-version: 1.18.3
            mysql-version: "mysql:8.0"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - id: run_slow_tests
        env:
          MAVEN_CONFIG: "-B -ff -Ddep.testcontainers.version=${{ matrix.testcontainer-version }} -Djdbi.test.mysql-version=${{ matrix.mysql-version }}"
        run: |
          ./mvnw --version
          make run-slow-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.testcontainer-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.testcontainer-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar

  slow-tests-locale:
    name: Run slow tests with different timezone and locale
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - id: run_slow_tests
        env:
          MAVEN_CONFIG: "-B -ff -Djdbi.test.timezone=Asia/Colombo -Djdbi.test.language=tr -Djdbi.test.region=TR"
        run: |
          ./mvnw --version
          make run-slow-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }})
          retention-days: 1
          path: |
            **/target/**/*.jar
