---
name: Code style and sonar analysis

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  style:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: run code checkers
        env:
          MAVEN_CONFIG: "-Dbasepom.test.skip=true -Dbasepom.it.skip=true -B -fae"
        run: |
          make install

  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: cache sonar information
        id: cache-sonar
        uses: actions/cache@v3
        with:
          path: .sonar
          key: ${{ runner.os }}-sonar

      - name: run sonar analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_CONFIG: "-Psonar -B -fae -Dsonar.projectKey=jdbi_jdbi"
          XXX: ${{ secrets.GITHUB_TOKEN }}
          SITE_DEPLOY: ${{ secrets.SITE_DEPLOY_TOKEN  }}
        run: |
          make install
