name: Test dependency versions

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  antlr:
    name: Test antlr runtime versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 4.5, 4.6, 4.7, 4.8-1, 4.9, 4.9.1, 4.9.2, 4.9.3 ]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v2
      id: setup_jdk
      name: Setup JDK
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      run: |
          ./mvnw -B -DskipTests -Dbasepom.check.skip-all=true clean install
          ./mvnw -B -Ddep.antlr.version=${{ matrix.test-version }} -DargLine= surefire:test

  guava:
    name: Test Guava versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 31.0.1-jre, 30.1.1-jre ]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v2
      id: setup_jdk
      name: Setup JDK
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      run: |
          ./mvnw -B -fae -am -pl :jdbi3-guava,:jdbi3-guice -Ddep.guava.version=${{ matrix.test-version }} clean install

  immutables:
    name: Test Immutables versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 2.9.0-rc1, 2.8.9-ea-1, 2.8.8 ]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v2
      id: setup_jdk
      name: Setup JDK
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      run: |
          ./mvnw -B -fae -am -pl :jdbi3-immutables -Ddep.immutables.version=${{ matrix.test-version }} clean install

  jackson2:
    name: Test Jackson Versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 2.13.1, 2.12.6, 2.11.4, 2.10.5.20201202, 2.10.5 ]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v2
      id: setup_jdk
      name: Setup JDK
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      run: |
          ./mvnw -B -fae -am -pl :jdbi3-jackson2 -Ddep.jackson2.version=${{ matrix.test-version }} clean install

  jodatime2:
    name: Test joda-time versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 2.10.13, 2.9.9 ]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v2
      id: setup_jdk
      name: Setup JDK
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      run: |
          ./mvnw -B -fae -am -pl :jdbi3-jodatime2 -Ddep.joda-time.version=${{ matrix.test-version }} clean install

  vavr:
    name: Test vavr versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 1.0.0-alpha-4, 0.10.4, 0.9.3 ]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v2
      id: setup_jdk
      name: Setup JDK
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      run: |
          ./mvnw -B -fae -am -pl :jdbi3-vavr -Ddep.vavr.version=${{ matrix.test-version }} clean install
