name: Test dependency versions

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  guava:
    name: Test Guava versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 31.1-jre, 31.0.1-jre, 31.0-jre ]

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      env:
        JDBI_MAVEN_OPTS: "-B -fae -am -pl :jdbi3-guava,:jdbi3-guice -Ddep.guava.version=${{ matrix.test-version }}"
      run: |
        ./mvnw --version
        echo $PATH
        make install

  immutables:
    name: Test Immutables versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 2.9.3, 2.9.2, 2.8.9-ea-1 ]

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      env:
        JDBI_MAVEN_OPTS: "-B -fae -am -pl :jdbi3-core -Ddep.immutables.version=${{ matrix.test-version }}"
      run: |
        ./mvnw --version
        echo $PATH
        make install

  jackson2:
    name: Test Jackson Versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 2.15.0-rc1, 2.14.2, 2.13.5, 2.12.7, 2.11.4 ]

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      env:
        JDBI_MAVEN_OPTS: "-B -fae -am -pl :jdbi3-jackson2 -Ddep.jackson2.version=${{ matrix.test-version }}"
      run: |
        ./mvnw --version
        echo $PATH
        make install

  jodatime2:
    name: Test joda-time versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 2.12.2, 2.11.2, 2.10.14 ]

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      env:
        JDBI_MAVEN_OPTS: "-B -fae -am -pl :jdbi3-jodatime2 -Ddep.joda-time.version=${{ matrix.test-version }}"
      run: |
        ./mvnw --version
        echo $PATH
        make install

  vavr:
    name: Test vavr versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 1.0.0-alpha-4, 0.10.4 ]

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin
        cache: maven

    - name: Build
      env:
        JDBI_MAVEN_OPTS: "-B -fae -am -pl :jdbi3-vavr -Ddep.vavr.version=${{ matrix.test-version }}"
      run: |
        ./mvnw --version
        echo $PATH
        make install
