---
name: Test dependency versions

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  guava:
    name: Test Guava versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 33.0.0-jre, 32.1.3-jre, 32.0.1-jre, 31.1-jre ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - name: run tests
        id: run_tests
        env:
          MAVEN_CONFIG: "-B -ff -pl :jdbi3-guava,:jdbi3-guice -Ddep.guava.version=${{ matrix.test-version }}"
        run: |
          ./mvnw --version
          make run-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar

  immutables:
    name: Test Immutables versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 2.10.0, 2.9.3, 2.8.9-ea-1 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - name: run tests
        id: run_tests
        env:
          MAVEN_CONFIG: "-B -ff -pl :jdbi3-core -Ddep.immutables.version=${{ matrix.test-version }}"
        run: |
          ./mvnw --version
          make run-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar

  jackson2:
    name: Test Jackson Versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 2.16.1, 2.15.3, 2.14.3, 2.13.5, 2.12.7.20221012 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - name: run tests
        id: run_tests
        env:
          MAVEN_CONFIG: "-B -ff -pl :jdbi3-jackson2 -Ddep.jackson2.version=${{ matrix.test-version }}"
        run: |
          ./mvnw --version
          make run-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar

  jodatime2:
    name: Test joda-time versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 2.12.5, 2.11.2, 2.10.14, 2.9.9 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - name: run tests
        id: run_tests
        env:
          MAVEN_CONFIG: "-B -ff -pl :jdbi3-jodatime2 -Ddep.joda-time.version=${{ matrix.test-version }}"
        run: |
          ./mvnw --version
          make run-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar

  vavr:
    name: Test vavr versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 0.10.4 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - name: run tests
        id: run_tests
        env:
          MAVEN_CONFIG: "-B -ff -pl :jdbi3-vavr -Ddep.vavr.version=${{ matrix.test-version }}"
        run: |
          ./mvnw --version
          make run-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar

  guice:
    name: Test guice versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 5.1.0, 6.0.0, 7.0.0 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - name: run tests
        id: run_tests
        env:
          MAVEN_CONFIG: "-B -ff -pl :jdbi3-guice -Ddep.guice.version=${{ matrix.test-version }}"
        run: |
          ./mvnw --version
          make run-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar

  kotlin:
    name: Test kotlin runtime versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 1.6.21, 1.7.21, 1.8.22, 1.9.22 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - name: run tests
        id: run_tests
        env:
          MAVEN_CONFIG: "-B -ff -pl :jdbi3-kotlin,:jdbi3-kotlin-sqlobject -Ddep.kotlin.version=${{ matrix.test-version }}"
        run: |
          ./mvnw --version
          make run-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar

  spring:
    name: Test spring framework versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ 5.3.31, 6.0.15, 6.1.2 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - name: run tests
        id: run_tests
        env:
          MAVEN_CONFIG: "-B -ff -pl :jdbi3-spring5 -Ddep.spring.version=${{ matrix.test-version }}"
        run: |
          ./mvnw --version
          make run-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar

  oracle:
    name: Test Oracle versions
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-version: [ '21-slim-faststart', '18-slim-faststart' ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-java@v4
        name: setup build jdk
        id: build_jdk
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: build code
        id: install_fast
        env:
          MAVEN_CONFIG: "-B -ff"
        run: |
          ./mvnw --version
          make install-fast

      - name: run tests
        id: run_tests
        env:
          MAVEN_CONFIG: "-B -ff -Doracle.container.version=${{ matrix.test-version }}"
        run: |
          ./mvnw --version
          make run-slow-tests

      - uses: actions/upload-artifact@v4
        name: upload build logs
        id: upload_build_logs
        if: ${{ always() }}
        with:
          name: build logs (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 90
          path: |
            **/target
            !**/target/**/*.jar
            !**/target/**/*.class

      - uses: actions/upload-artifact@v4
        name: upload build artifacts
        id: upload_build_artifacts
        with:
          name: build artifacts (${{ github.job }}, ${{ matrix.test-version }})
          retention-days: 1
          path: |
            **/target/**/*.jar
